<!--
This is the nav bar for answer.html template
-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PC2SC</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li><a href="pc">Enter Pseudo Code</a></li>
      <li><a href="pc_my">My PC</a></li>
      <li><a href="pc_in">Intermediate PC</a></li>
      <li><a href="scp">Source Code - Python</a></li>
      <li><a href="scr">Source Code - R</a></li>
      <li><a href="evlHome">Evaluation</a></li>
      <li><a href="about">About</a></li>
    </ul>
{#    <ul class="nav navbar-nav navbar-right">#}
{#      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
{#      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
{#    </ul>#}
  </div>
</nav>

