<link rel="stylesheet" href="/static/css/forms.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends 'layout.html' %}
{% include 'navigation_bar.html' %}

{% block body %}

<h1>First submit a pseudo code..</h1>


<br/><br/>
  <p><a href="/pc">
Submit pseudo code
  </a></p>


<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="/static/lib/codemirror-5.42.2/lib/codemirror.css" type="text/css">
<script src="/static/lib/codemirror-5.42.2/lib/codemirror.js"></script>
<script>
  var editor = CodeMirror.fromTextArea(pcode, {
    lineNumbers: true
  });
</script>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var sPath = window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        $('a[href="'+ sPage +'"]').parent().addClass('active');
    });
</script>
{% endblock %}


